/build/
/out/
/bin/
.gradle/
/.idea/
/*.iml
/.vscode/
/*.class
logs/
*.log
.DS_Store
Thumbs.db
.env
*.sh
*.tmp
*.swp
*.swo
*.war
*.ear
run/
logs/
eclipse/
runClient.launch
runServer.launch
/.gradle/
/run/
/config/
/libs/
.minecraft/
